.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.hide{
    display:none;
}

.scroll-horizontal > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.scroll-horizontal > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.modal-responsive{
    width: 90%;
}

/*!*css label "filtrado" da dual list*!*/
/*.label-info,*/
/*.badge-info {*/
    /*color: #fff !important;*/
    /*background-color: #18a689 !important;*/
    /*border-color: #18a689 !important;*/
/*}*/
