.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.hide{
    display:none;
}

.scroll-horizontal > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.scroll-horizontal > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}

.modal-responsive{
    width: 90%;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #18a689 !important;
}

.align-centro {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container-align-botao-enviar-aviso {
    position: relative;
    height: 25rem;
}

.logo-name-login {
    color: #e6e6e6;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -10px;
    margin-bottom: 0;
}

.cafe-manha {
    padding: 4px 6px;
    background-color: #b32e2f;
    /* background color */
    border-color: #b32e2f;
    /* border color */
}

.container-image {
    width: 100vw !important;
    height: 100vh !important;
    background: #6C7A89 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

.box-image {
    width: 165px !important;
    height: 220px !important;
    background: #fff !important;
}